{% extends 'base.html' %}
{% block content %}

<h3>Add Route</h3>

<div class="row form">

	<!-- Add Route Form -->
	<form class="col-12 text-center border border-light p-5" action="{{ url_for('insert_route') }}" method="POST">

		<p class="h4 mb-4">Add Route</p>

		<!-- Your Name -->
		<input type="text" id="person_name" name="person_name" class="form-control mb-4" placeholder="&#xF406; Your Name" style="font-family: FontAwesome">

		<!-- Route Name -->
		<input type="text" id="route_name" name="route_name" class="form-control mb-4" placeholder="&#xF3c5; Route Name" style="font-family: FontAwesome">

		<!-- Route Link -->
		<input type="text" id="map_link" name="map_link" class="form-control mb-4" placeholder="&#xF5a0; Route Link" style="font-family: FontAwesome">

		<!-- Route Description -->
		<div class="form-group">
			<textarea class="form-control rounded-0" id="route_description" name="route_description" rows="5" placeholder="&#xF303; Route Description" style="font-family: FontAwesome"></textarea>
		</div>

		<!-- Send button -->
		<div class="row">
			<button class="btn btn-info btn-block" type="submit" name="action">Add Route 
        <i class="fas fa-paper-plane"></i></button>
		</div>

	</form>
</div>

{% endblock %}