{% extends 'base.html' %} {% block content %}

<h1 class="add_route_header">Edit Route</h1>

<!-- Edit Route Form -->
<form
  class="col-sm-10 col-md-6 container text-center p-5 route_form"
  action=""
  method="POST"
>
  <p class="route-slogan">
    Edit your route. {{ route }}
  </p>

  <!-- Your Name -->
  <input
    type="text"
    id="person_name"
    name="person_name"
    class="form-control mb-4"
    placeholder="&#xF406; Enter Your Name Here"
    style="font-family: FontAwesome;"
  />

  <!-- Route Name -->
  <input
    type="text"
    id="route_name"
    name="route_name"
    class="form-control mb-4"
    placeholder="&#xF3c5; Give Your Skoot Route A Name"
    style="font-family: FontAwesome;"
  />

  <!-- Route Link -->
  <input
    type="text"
    id="map_link"
    name="map_link"
    class="form-control mb-4"
    placeholder="&#xF5a0; Attach Your Google Maps Link Here (Must include https://)"
    style="font-family: FontAwesome;"
    pattern="https://.*"
    required
  />

  <!-- Route Description -->
  <div class="form-group">
    <textarea
      class="form-control rounded-0"
      id="route_description"
      name="route_description"
      rows="5"
      placeholder="&#xF303; Tell Us Why You Love This Route"
      style="font-family: FontAwesome;"
    ></textarea>
  </div>

  <!-- Send button -->
  <div class="row">
    <button
      class="add_button btn btn-info btn-block"
      type="submit"
      name="action"
    >
      Edit Route <i class="fas fa-paper-plane"></i>
    </button>
  </div>
</form>

{% endblock %}
