{% extends 'base.html' %} {% block content %}

<h1 class="add_route_header">Edit Route</h1>

<!-- Edit Route Form -->
<form
  class="col-sm-10 col-md-6 container text-center p-5 route_form"
  action="{{ url_for('edit_route', route_id=route._id) }}"
  method="POST"
>
  <p class="route-slogan">
   {{ route.person_name }} Here you can edit your route.
  </p>

  <!-- Your Name -->

  <input
    type="text"
    id="person_name"
    name="person_name"
    class="form-control mb-4"
    value="{{ route.person_name }}"
  />

  <!-- Route Name -->
  <input
    type="text"
    id="route_name"
    name="route_name"
    class="form-control mb-4"
    value="{{ route.route_name }}"
  />

  <!-- Route Link -->
  <input
    type="text"
    id="map_link"
    name="map_link"
    class="form-control mb-4"
    value="{{ route.map_link }}"
  />

  <!-- Route Description -->
  <div class="form-group">
    <textarea
      class="form-control rounded-0"
      id="route_description"
      name="route_description"
      rows="5"
    >{{ route.route_description }}</textarea>
  </div>

  <!-- Send button -->
  <div class="row">
    <button
      class="add_button btn btn-info btn-block"
      type="submit"
      name="action"
    >
      Edit Route <i class="fas fa-paper-plane"></i>
    </button>
  </div>
</form>

{% endblock %}
