{% extends 'base.html' %} {% block content %}

<!--Main Header-->

<h1 class="public-header">Public Routes</h1>
<div class="how_video">
  <a href="https://youtu.be/kOp3pY5c5zI" target="_blank" class="video"
    ><i class="fas fa-film"></i> Find out how to add a route here <i class="fas fa-film"></i></a
  >
</div>

<!--Route Cards-->

<section class="route-section">
  <div class="container">
    <div class="row route-cards-row">
      {% for route in routes %}
      <div class="col-sm-12 col-md-5 route-cards card">
        <div class="card-body route-cards-body text-center">
          <p class="card-text">
            <span class="label">Name:</span> {{ route.person_name }}
          </p>
          <p class="card-text">
            <span class="label">Route Name:</span> {{ route.route_name }}
          </p>
          <p class="card-text">
            <span class="label">Google Map Route Link:</span>
            <a href="{{ route.map_link }}" target="_blank" class="map_link"
              >{{ route.map_link }}</a
            >
          </p>
          <p class="card-text">
            <span class="label">Route Description:</span> {{
            route.route_description }}
          </p>
        </div>

        <!--Edit & Delete Buttons-->

        <div class="buttons text-center">
          <a
            href="{{url_for('edit_route', route_id=route._id)}}"
            type="button"
            class="btn edit_btn"
            >Edit</a
          >
          <a
            href="{{url_for('delete_route', route_id=route._id)}}"
            type="button"
            class="btn delete_btn"
            >Delete</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<hr class="skoot-route-divider" />

<!--Button-->

<div class="addroute-button">
  <a type="submit" href="{{ url_for('addroute') }}" class="go-button btn btn-lg"
    >Add Your Route <i class="fas fa-plus"></i
  ></a>
</div>

{% endblock %}
