{% extends 'base.html' %} {% block content %}

<!--Skoot Routes Section-->

<!-- Pre-Loaded Routes that cannot be deleted from page & not stored in MongoDB -->

<section class="container-fluid route" id="skoot-route">
  <h1 class="route-header">Skoot-Routes</h1>

  <p class="routes-para">
    Here are some of our favourtie routes of Dublin that we would love to share
    with you.<br />
    If you you would like to share your routes with us and others,<br />
    Hit our add route button at the bottom of this page to create your very own
    route.
  </p>

  <!--Old Town Dublin Route-->

  <img
    src="{{url_for('static', filename='images/james gate.jpg')}}"
    class="skoot-route-img img-fluid"
    alt="James Gate"
    height="300"
    width="350"
  />

  <h4>Old Town Dublin</h4>

  <hr class="space-route-p" />

  <p class="skoot-route" id="old-dublin">
    Located off the south quays of the city is Dublin 8, home to the Guinness
    Storehouse, where the gigantic steel pipes of the industrial factory tower
    over the cobble-stoned streets. Spin past the brewery's entrance, St James’s
    Gate, and take in the historic surroundings. You’re in real old-town Dublin
    now!! Further south is the Irish Museum of Modern Art (IMMA), where you can
    easily while away the day viewing the very best of contemporary Irish art,
    as well as travelling exhibitions from renowned international artists.
  </p>

  <a
    href="https://goo.gl/maps/j5EvHQXyd1k"
    target="_blank"
    class="skoot-route-button"
    role="button"
    >Lets Skoot! <i class="fas fa-road"></i
  ></a>

  <hr class="skoot-route-divider" />

  <!--Phoenix Route-->

  <section>
    <img
      src="{{url_for('static', filename='images/wellington.jpg')}}"
      class="skoot-route-img img-fluid"
      alt="James Gate"
      height="300"
      width="350"
    />

    <h4>Phoenix Park</h4>

    <hr class="space-route-p" />

    <p class="skoot-route" id="phoenix-park">
      North of the River Liffey lies Phoenix Park – one of the largest walled
      city parks in Europe. Dubliners spend many summer days picnicking,
      running, cycling and hanging out on its 707 hectares of green, lush
      fields. Lots of attractions here too: Dublin Zoo, Áras an Uachtaráin (The
      President’s House), the beautiful Farmleigh House, as well as one of the
      largest herds of urban deer in Europe.
    </p>

    <a
      href="https://goo.gl/maps/j5EvHQXyd1k"
      target="_blank"
      class="skoot-route-button"
      role="button"
      >Lets Skoot! <i class="fas fa-road"></i
    ></a>
  </section>

  <hr class="skoot-route-divider" />

  <!--Docklands & Ringsend Route-->

  <section>
    <img
      src="{{url_for('static', filename='images/docklands.jpg')}}"
      class="skoot-route-img img-fluid"
      alt="James Gate"
      height="300"
      width="350"
    />

    <h4>Docklands and Ringsend</h4>

    <hr class="space-route-p" />

    <p class="skoot-route" id="docklands">
      Dublin’s Docklands is an eclectic mix of old and new, where hip wine bars
      on the waterside contrast with the old village of Ringsend. On sunny days
      you can sit on the banks and watch locals race their row boats along the
      River Liffey, a custom that dates back hundreds of years and is still very
      much alive today. Afterwards, cycle over to Hanover Quay to view the
      street art, take a tour of U2's Dublin and breeze past the boys' recording
      studio and watch paddle boarders on the water.
    </p>

    <a
      href="https://goo.gl/maps/j5EvHQXyd1k"
      target="_blank"
      class="skoot-route-button"
      role="button"
      >Lets Skoot! <i class="fas fa-road"></i
    ></a>
  </section>

  <hr class="skoot-route-divider" />

  <!--Georgian Dublin Route-->

  <section>
    <img
      src="{{url_for('static', filename='images/georgian.png')}}"
      class="skoot-route-img img-fluid"
      alt="James Gate"
      height="300"
      width="350"
    />

    <h4>Georgian Dublin</h4>

    <hr class="space-route-p" />

    <p class="skoot-route" id="georgian-dublin">
      There is nothing like catching a little wind in your hair while scooting
      down Leeson Street! Head towards Charlemont House and The Garden of
      Remembrance. You can go further north towards Mountjoy Square or loop
      around to Stephen’s Green and toward Merrion Square and Fitzwilliam Place.
      Top tip!! Grab a sandwich when you’ve explored as far as Baggott Street,
      then make your way towards Dame Street and explore Dublin Castle.
    </p>

    <a
      href="https://goo.gl/maps/j5EvHQXyd1k"
      target="_blank"
      class="skoot-route-button"
      role="button"
      >Lets Skoot! <i class="fas fa-road"></i
    ></a>
  </section>

  <hr class="skoot-route-divider" />

  <!--Grand Canal Route-->

  <section>
    <img
      src="{{url_for('static', filename='images/grand-canal.jpg')}}"
      class="skoot-route-img img-fluid"
      alt="James Gate"
      height="300"
      width="350"
    />

    <h4>Grand Canal Way</h4>

    <hr class="space-route-p" id="grand-canal" />

    <p class="skoot-route">
      While the canal is synonymous with lazy days, this flat stretch delineates
      Ballsbridge, Rathmines and Crumlin, even running as far as Lucan and
      Kildare. If it’s a lazy Scoot you’re after with plenty of coffee and cake
      pit stops, then this track is ideal!
    </p>

    <a
      href="https://goo.gl/maps/j5EvHQXyd1k"
      target="_blank"
      class="skoot-route-button"
      role="button"
      >Lets Skoot! <i class="fas fa-road"></i
    ></a>
  </section>

  <hr class="skoot-route-divider" />

  <!--Strawberry Beds Route-->

  <section>
    <img
      src="{{url_for('static', filename='images/straw-beds.jpg')}}"
      class="skoot-route-img img-fluid"
      alt="James Gate"
      height="300"
      width="350"
    />

    <h4>Strawberry Beds</h4>

    <hr class="space-route-p" />

    <p class="skoot-route" id="straw-beds">
      Adjacent to the Liffey and running along the western edge of the Phoenix
      Park, Strawberry Fields straddles both Lucan and Chapelizod, giving
      scooter riders & cyclists an opportunity to glide through the park and
      towards the city centre.
    </p>

    <a
      href="https://goo.gl/maps/j5EvHQXyd1k"
      target="_blank"
      class="skoot-route-button"
      role="button"
      >Lets Skoot! <i class="fas fa-road"></i
    ></a>
  </section>

  <hr class="skoot-route-divider" />

  <!--The Dodder Route-->

  <section>
    <img
      src="{{url_for('static', filename='images/dodder.jpg')}}"
      class="skoot-route-img img-fluid"
      alt="James Gate"
      height="300"
      width="350"
    />

    <h4>The Dodder via Bushy Park</h4>

    <hr class="space-route-p" />

    <p class="skoot-route" id="dodder">
      Scoot along Beaver Row towards Clonskeagh where the Dodder runs through
      the park between Clonskeagh Road and Milltown (opposite Riverview). Follow
      the designated cycle lane until you hit the traffic crossing, and then
      continue towards the Dropping Well and Bushy Park, Terenure.
    </p>

    <a
      href="https://goo.gl/maps/j5EvHQXyd1k"
      target="_blank"
      class="skoot-route-button"
      role="button"
      >Lets Skoot! <i class="fas fa-road"></i
    ></a>
  </section>

  <hr class="skoot-route-divider" />

  <!--Blackrock Route-->

  <section>
    <img
      src="{{url_for('static', filename='images/sandymount.jpg')}}"
      class="skoot-route-img img-fluid"
      alt="James Gate"
      height="300"
      width="350"
    />

    <h4>Pigeon House via Blackrock</h4>

    <hr class="space-route-p" />

    <p class="skoot-route" id="blackrock">
      A coastal line that runs almost straight between Blackrock and Sandymount,
      this gentle stretch takes no time with a sea breeze behind your back.
      Simply head via Booterstown to Serpentine Avenue and up towards the Aviva
      and Ringsend. If you want to take the scenic route towards Ranelagh and
      the city centre, then scoot down Ailesbury Road and marvel at its stately
      homes.
    </p>

    <a
      href="https://goo.gl/maps/j5EvHQXyd1k"
      target="_blank"
      class="skoot-route-button"
      role="button"
      >Lets Skoot! <i class="fas fa-road"></i
    ></a>
  </section>

  <hr class="skoot-route-divider" />

  <!--Howth & Malahide Route-->

  <section>
    <img
      src="{{url_for('static', filename='images/howth-head.jpg')}}"
      class="skoot-route-img img-fluid"
      alt="James Gate"
      height="300"
      width="350"
    />

    <h4>Howth Head via Malahide</h4>

    <hr class="space-route-p" />

    <p class="skoot-route" id="howth">
      This Skoot Route is a little more ambitious-if you want to head out of the
      city centre and get the dart to Malahide. Scoot north towards Malahide
      Castle and along the Coast Road to Dublin’s seaside town, Howth, where a
      short climb uphill offers unparalleled views of Dublin Bay. If your legs
      have yet to tire, then continue going north towards Skerries Beach. This
      is a long journey to scoot, but don't worry, once you bring your e-scooter
      charger, you will be fine! You you can charge your e-scooter in the
      friendly and accommodating local bars or restaurants in the area, should
      you run out of juice!
    </p>

    <a
      href="https://goo.gl/maps/j5EvHQXyd1k"
      target="_blank"
      class="skoot-route-button"
      role="button"
      >Lets Skoot! <i class="fas fa-road"></i
    ></a>
  </section>
</section>

<hr class="skoot-route-divider" />

<!--Button-->

<div class="addroute-button">
  <a href="{{ url_for('addroute') }}" class="go-button btn btn-lg" role="button"
    >Add Your Route <i class="fas fa-plus"></i
  ></a>
</div>

{% endblock %}
